@font-face {
    font-family: 'UHCSerif';
    src:
        url('../../fonts/UHCSerifHeadline-Semibold.woff') format('woff'),
        url('../../fonts/UHCSerifHeadline-Semibold.otf');
}

@font-face {
    font-family: 'UHCSansMedium';
    src:
        url('../../fonts/UHCSans-Medium.woff2') format('woff2'),
        url('../../fonts/UHCSans-Medium.otf');
}

@font-face {
    font-family: 'UHCSansSemiBold';
    src:
        url('../../fonts/UHCSans-SemiBold.woff') format('woff'),
        url('../../fonts/UHCSans-SemiBold.otf');
}

@font-face {
    font-family: 'UHCSansBold';
    src:
        url('../../fonts/UHCSans-Bold.woff2') format('woff2'),
        url('../../fonts/UHCSans-Bold.otf');
}
