@mixin direction-title-font {
    font-family: $uhc-heading-font-1;
    font-size: 26px;
    line-height: 34px;
    color: $primary-col-1;
}

@mixin direction-description-font {
    font-family: $uhc-body-font;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: $body-text-color;
}

.direction-container {
    background-color: $sign-in-content-background-color;

    .direction-content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .box {
        margin-bottom: 60px;
    }

    .image-content {
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    .text-content {
        .direction-title {
            @include direction-title-font;

            margin-bottom: 30px;
        }

        .direction-description {
            @include direction-description-font;

            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        .direction-content {
            padding-top: 76px;
            padding-bottom: 104px;
            flex-direction: row;
        }

        .box {
            margin-left: 12%;
            margin-bottom: 0;
            max-width: 408px;
        }

        .image-content {
            margin-bottom: 30px;

            img {
                width: auto;
            }
        }

        .text-content {
            .direction-title {
                @include direction-title-font;

                margin-bottom: 20px;
            }

            .direction-description {
                @include direction-description-font;

                margin-bottom: 20px;
            }
        }
    }
}
