$hero-title-font-color: $primary-col-1;
$hero-description-font-color: $body-text-color;

@mixin getting-started-title-font {
    font-family: $uhc-heading-font-1;
    font-size: 26px;
    line-height: 34px;
    color: $hero-title-font-color;

    @include media-breakpoint-up(lg) {
        font-size: 28px;
        line-height: 36px;
    }
}

@mixin getting-started-description-font {
    font-family: $uhc-font-sans-medium;
    font-size: 16px;
    line-height: 20px;
    color: $hero-description-font-color;

    @include media-breakpoint-up(lg) {
        line-height: 23px;
    }
}

.getting-started-container {
    margin-top: 16px;
    padding-bottom: 45px;
    border-bottom: 1px solid $uhc-section-border-color;
    display: flex;
    flex-direction: column;

    .image-content {
        margin-bottom: 20px;
    }

    .text-content {
        .getting-started-title {
            @include getting-started-title-font;

            margin-bottom: 10px;
        }

        .getting-started-description {
            @include getting-started-description-font;

            margin-bottom: 32px;
        }
    }

    .custom-logo-container {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        .custom-logo {
            max-height: 70px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: 60px;
        padding-bottom: 64px;
        border-bottom: none;
        flex-direction: row;
        align-items: center;

        .image-content {
            margin-left: 120px;
            margin-bottom: 0;
        }

        .text-content {
            margin-left: 60px;

            .getting-started-title {
                margin-bottom: 16px;
            }

            .getting-started-description {
                max-width: 675px;

                p {
                    margin-bottom: 16px;
                }
            }
        }

        .custom-logo-container {
            margin-bottom: 30px;
            justify-content: flex-start;
        }
    }
}
