.filter-section {
    .provider-search-title {
        padding: 24px 0 18px;
        border-bottom: 1px solid $uhc-border-color;
        margin-bottom: 24px;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    .form-group {
        flex: 1 1 0;
        margin-right: 10px;
    }

    @include media-breakpoint-up(lg) {
        .filter-container {
            flex-direction: row;
        }
    }
}
